*{
  color: #113;
  text-decoration: none;
}
body{
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

nav{
  display: flex;
  flex-direction: row;
  background-color: bisque;
  padding: 0rem 5rem;
  box-shadow: 0 0 .5rem #1112;
}

.nav-links{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-links-link{
  text-decoration: none;
  margin: 1rem 1rem;
}
.nav-user{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
}
.nav-user-img{
  width: 2rem;
  height: 2rem;
  border-radius: 50%; 
  margin-left: .5rem ;
  box-shadow: 0 0 .3rem #113c;
}
.nav-user-btn, .create-post-form-btn,.edit-post-form-btn,.edit-post-form-btn-back,.login-btn,.Link{
  border: none;
  border-radius: 3%;
  background-color: #113;
  color: bisque;
  padding: .5rem .5rem;
  cursor: pointer;
  font-weight:bolder;
  transition: 300ms;
}
.nav-user-btn{
  margin-left: 1rem;
}
.nav-user-btn:hover, .create-post-form-btn:hover,.edit-post-form-btn:hover,.login-btn:hover,.Link:hover{
  background-color: #113c;
}
.edit-post-form-btn-back{
  background-color: #511;
}
.edit-post-form-btn-back:hover{
  background-color: #511c;
}

.create-post-form,.post-container,.container{
  border-radius: 2px;
  color: #113;
  background-color: bisque;
  padding: 1rem 1rem;
  box-shadow: 0 0 1rem #1112;
  margin-bottom: 1rem;
}

.create-post-form-error{
  color:red;
  font-weight: lighter;
}

main{
  flex-grow: 1;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  text-align: center;
  padding: 5rem 0;
}


.post-btn-like{
  background-color: transparent;
  border: none;
  border-radius: 2px;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.post-title-text{
  font-weight:bolder;
}
.post-title-text-username{
  color: #113c;
  font-weight:normal;
}

.container-bigger{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 6rem;
  text-align: center;
}

hr{
  border: none;
  border-bottom: 1px solid #113c;
}

.border-bottom{
  padding-bottom: 1rem;
  border-bottom: #113c 1px solid;
  margin-bottom: 1rem;
}